{% extends 'main.html'%}

{% block nav_index %}
    class='active'
{% endblock nav_index %}
  
{%load static%}
{% block content %}

<section id="intro" class="clearfix wow fadeInUp">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2 style="font-family: Audiowide;">Virtual Corp<br><span style="font-size: 22px;" >Technology For The Future</span></h2>
          <div>
            <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSHwsJVFbdMCXNljnTvxjSnqBDMLnmpnnJzhVdgFFxcBhtWkfbbrDWzGRHcwXrrMdSQClrJD" target="_blank" class="btn-get-started scrollto">Get A Quote </a>
          </div>
        </div>  
        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="{% static '/img/intro-img.svg' %}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
</section>
  <!-- #intro -->
  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about" class="wow fadeInUp">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="{% static '/img/about-img.jpg' %}" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>About Us</h2>
              {% for about in about %}
               
                <h3>{{about.welcome}}</h3>
                <p>{{about.description1}}</p>
                      <p>{{about.description2}}</p>
                      <ul>
                        <li><i class="ion-android-checkmark-circle"></i> {{about.feature1}}</li>
                        <li><i class="ion-android-checkmark-circle"></i> {{about.feature2}}</li>
                        <li><i class="ion-android-checkmark-circle"></i> {{about.feature3}}</li>
                        <li><i class="ion-android-checkmark-circle"></i> {{about.feature4}}</li>
                </ul>
                  
                {% endfor %}
            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->


    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Our Services</h3>
          <p>We offer all kinds of services in the form of Information & Technology</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="ion-ios-monitor-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="{% url 'website:software' %}">Software Development</a></h4>
              <p class="description"> We build software that doesn’t only accomplish customer requirements but also maintaining higher ...</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-ios-telephone-outline" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="{% url 'website:mobile' %}">Mobile Application</a></h4>
              <p class="description">Our team has a wide expertise in developing various types of application in Android and iOS Platform.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-world-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="{% url 'website:webapp' %}">Web Application</a></h4>
              <p class="description">We help the business realize their vision and turn them into reality by harnessing trend-setting technologies.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #eafde7;"><i class="ion-ios-cloud-upload-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="{% url 'website:domain' %}">Domain & Hosting</a></h4>
              <p class="description">We provides domain registration and web hosting service that makes it possible for your business ..</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e1eeff;"><i class="ion-ios-videocam-outline" style="color: #2282ff;"></i></div>
              <h4 class="title"><a href="{% url 'website:video' %}">Video Editing</a></h4>
              <p class="description">We are a global marketing and video production company that creates meaningful content designed to ..</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #ecebff;"><i class="ion-ios-browsers-outline" style="color: #8660fe;"></i></div>
              <h4 class="title"><a href="{% url 'website:graphic' %}">Graphic Design</a></h4>
              <p class="description">We're specialized in developing graphic design that are affordable, modern, full of quality and ..</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container-fluid">
        
        <header class="section-header">
          <h3>Why choose us?</h3>
          <p>Young and Energetic team to make your dream into reality.</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <div class="why-us-img">
              <img src="{% static '/img/why-us.jpg' %}" alt="" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-6">
            
            {% for data in company %}

            <div class="why-us-content">
              <p>{{data.description1}}</p>
              <p>
                {{data.description2}}
              </p>

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-diamond" style="color: #f058dc;"></i>
                <h4>{{data.topic1}}</h4>
                <p>{{data.answer1}}</p>
              </div>

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-object-group" style="color: #ffb774;"></i>
                <h4>{{data.topic2}}</h4>
                <p>{{data.answer2}}</p>
              </div>
              
              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-language" style="color: #589af1;"></i>
                <h4>{{data.topic3}}</h4>
                <p>{{data.answer3}}</p>
              </div>
              
            </div>
              
            {% endfor %}
              
           

          </div>

        </div>

      </div>

      <div class="container wow fadeInUp">
        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">4</span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">7</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">180</span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">7</span>
            <p>Hard Workers</p>
          </div>
  
        </div>

      </div>
    </section>

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Explain your Dream</h3>
            <p class="cta-text">We are here to listen, advise, design and support you to in your every steps. All we want is warm relationship between you and us. Press that button to explain your idea.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRrlQnfnbzKqXRQDDpgKdjnNjdMNrdNcWqDZPKDxjWSVjlXmCHpZNgLdKhKTLzNKGGTwmtl" target="_blank">Explain Here</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Features Section
    ============================-->
    <section id="features">
      <div class="container">

        <div class="row feature-item">
          <div class="col-lg-6 wow fadeInUp">
            <img src="{% static '/img/features-1.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Social Media Marketing</h4>
            <p>
              Reach your target audience with ads they won’t be able to scroll past.
            </p>
            <p>
              With the algorithm of social platforms changing ever so often, generating organic reach can be a bit of a challenge.
             </p>
            <p>
              Our goal-driven social media marketing service will allow you to leverage the most cost-effective and targeted forms of advertising available today. We connect your brand to your target audience and get them talking about you!
             </p>
          </div>
        </div>

        <div class="row feature-item mt-5 pt-5">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="{% static '/img/features-2.svg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>Mobile Application Development</h4>
            <p>
              A mobile application, most commonly referred to as an app, is a type of application software designed to run on a mobile device, such as a smartphone or tablet computer. 
            </p>
            <p>
              Mobile applications are a move away from the integrated software systems generally found on PCs. Instead, each app provides limited and isolated functionality such as a game, calculator or mobile web browsing.
            </p>
            <p>
              Although applications may have avoided multitasking because of the limited hardware resources of the early mobile devices, their specificity is now part of their desirability because they allow consumers to hand-pick what their devices are able to do.
            </p>
          </div>
          
        </div>

      </div>
    </section><!-- #about -->

   
    

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="section-bg wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Our Clients</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          <img src="{% static '/img/clients/client-1.png' %}" alt="">
          <img src="{% static '/img/clients/client-2.png' %}" alt="">
          <img src="{% static '/img/clients/client-3.png' %}" alt="">
          <img src="{% static '/img/clients/client-4.png' %}" alt="">
          <img src="{% static '/img/clients/client-5.png' %}" alt="">
          <img src="{% static '/img/clients/client-6.png' %}" alt="">
          <img src="{% static '/img/clients/client-7.png' %}" alt="">
          <img src="{% static '/img/clients/client-8.png' %}" alt="">
        </div>

      </div>
    </section><!-- #clients -->

<!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">
              
              {% for i in testimonial %}
              <div class="testimonial-item">
                <img src="{{i.image.url}}" class="testimonial-img" alt="">
                <h3>{{i.name}}</h3>
                <h4>{{i.post}}</h4>
                <p>
                  {{i.quote}}
                </p>
              </div>
              {% endfor %}


            </div>

          </div>
        </div>


      </div>
    </section><!-- #testimonials -->

  

    <!--==========================
      Team Section
    ============================-->
    <section id="team" class="section-bg">
      <div class="container">
        <div class="section-header">
          <h3>Team</h3>
          <p>The foundation of our company</p>
        </div>

        <div class="row">
          
          {% for team in teams %}         
          
            
          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{{team.picture.url}}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>{{team.full_name}}</h4>
                  <span>{{team.post}}</span>
                  <div class="social">
                    <a href="{{team.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="{{team.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="{{team.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="{{team.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}         

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Frequently Asked Questions Section
    ============================-->
    <section id="faq">
      <div class="container">
        <header class="section-header">
          <h3>Frequently Asked Questions</h3>
          <p>Similar queries that we want you to clear your concept.</p>
        </header>

        <ul id="faq-list" class="wow fadeInUp">
          
          {% for query in faq %}

          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq{{forloop.counter}}"> {{query.question}} <i class="ion-android-remove"></i></a>
            <div id="faq{{forloop.counter}}" class="collapse" data-parent="#faq-list">
              <p>
                {{query.answer}}
              </p>
            </div>
          </li>
            
          {% endfor %}
            
        </ul>

      </div>
    </section><!-- #faq -->

  </main>

{% endblock %}