{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>VIRTUAL CORP </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static '/img/favicon.png' %}" rel="icon">
  <link href="{% static '/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>

  <!-- Bootstrap CSS File -->
  <link href="{% static '/lib/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static '/lib/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
  <link href="{% static '/lib/animate/animate.min.css'%}" rel="stylesheet">
  <link href="{% static '/lib/ionicons/css/ionicons.min.css'%}" rel="stylesheet">
  <link href="{% static '/lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
  <link href="{% static '/lib/lightbox/css/lightbox.min.css'%}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
<style>
  .form-control{
    margin-top: 1rem;
  }
  .sendbutton{
    margin-top: 1rem;
    margin-left: 12rem;
  }
</style>




</head>

<body>

  <!-- Messenger Chat Plugin Code -->
  <div id="fb-root"></div>

  <!-- Your Chat Plugin code -->
  <div id="fb-customer-chat" class="fb-customerchat">
  </div>

  <script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "105489228465967");
    chatbox.setAttribute("attribution", "biz_inbox");

    window.fbAsyncInit = function() {
      FB.init({
        xfbml            : true,
        version          : 'v11.0'
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <!--==========================
  Header
  ============================-->
  <header id="header">

    <div id="topbar">
      <div class="container">
        
        <div class="social-links">          
          <a href="https://twitter.com/virtualcorp2021" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/virtualcorp2021/?ref=pages_you_manage" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://www.linkedin.com/company/virtualcorp2021/" class="linkedin" target="_blank"><i class="fa fa-linkedin" target="_blank"></i></a>
          <a href="https://www.instagram.com/virtualcorp2021/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="logo float-left">
        <h1 class="text-light"><a href="{% url 'website:index' %}" class="scrollto" style="font-family: Audiowide;"><span style="font-family: Audiowide;">Virtual </span>CORP</a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li {% block nav_index%}{% endblock %}><a href="{% url 'website:index' %}">Home</a></li>
          <li {% block nav_aboutus%}{% endblock %}><a href="{% url 'website:aboutus' %}">About Us</a></li>                  
          <!-- <li class="drop-down"><a href="#">Our Products</a>
            <ul>
              <li><a href="#">School Application</a></li>
              <li><a href="#">Hospital ERP</a></li> 
              <li><a href="#">Web SMS</a></li>
              <li><a href="#">Accounting Solution</a></li>
              <li><a href="#">Hotel Management</a></li>
              <li><a href="#">Academic ERP</a></li> 
            </ul>
          </li> -->
          <li class="drop-down"><a href="#">Our Services</a>
            <ul>
              <li><a href="{% url 'website:software' %}">Software Development</a></li>
              <li><a href="{% url 'website:webapp' %}">Web Application</a></li>
              <li><a href="{% url 'website:mobile' %}">Mobile Application</a></li>
              <li><a href="{% url 'website:domain' %}">Domain & Hosting</a></li>
              <li><a href="{% url 'website:video' %}">Video Editing</a></li>
              <li><a href="{% url 'website:graphic' %}">Graphic Designing</a></li>            </ul>
          </li>
          <li><a href="#footer">Contact Us</a></li>
          <li><a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSHwsJVFbdMCXNljnTvxjSnqBDMLnmpnnJzhVdgFFxcBhtWkfbbrDWzGRHcwXrrMdSQClrJD" target="_blank" c>Get A Quote </a></li>  
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->


  {%block content%}


  {% endblock %}


  
  <footer id="footer" class="section-bg wow fadeInUp">
    <!--==========================
        Footer
    ============================-->
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

                <div class="col-sm-6">

                  <div class="footer-info">
                    <h3 style="font-family: Audiowide;">Virtual Crop</h3>
                    <p>We are equipped with modern technology to help our valuable customer properly. We are focused to digitalize your business by providing technical solution to your complex problem</p>
                  </div>

                  <div class="footer-newsletter">
                    <h4>Customer Support:</h4>
                    <p><strong>Phone:</strong> +977 014433318<br>
                      <strong>Email:</strong> virtualcorp2021@gmail.com<br>
                    </p>

                  </div>

                </div>

                <div class="col-sm-6">
                  <div class="footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                      <li><a href="{% url 'website:index' %}">Home</a></li>
                      <li><a href="{% url 'website:aboutus' %}">About us</a></li>
                      <li><a href="{% url 'website:services' %}">Services</a></li>
                      <li><a href="{% url 'website:terms' %}">Terms of service</a></li>
                      <li><a href="#">Privacy policy</a></li>
                    </ul>
                  </div>

                  <div class="footer-links">
                    <h4>Contact Us</h4>
                    <p>
                      Kalopul 05, Kathmandu <br>
                      Kathmandu, 44600<br>
                      Nepal <br>
                      <strong>Phone:</strong> +977 014433318<br>
                      <strong>Email:</strong> virtualcorp2021@gmail.com<br>
                    </p>
                  </div>

                  <div class="social-links">
                    <a href="https://www.facebook.com/virtualcorp2021/?ref=pages_you_manage" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/virtualcorp2021/?ref=pages_you_manage" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/virtualcorp2021/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/virtualcorp2021/" class="linkedin" target="_blank"><i class="fa fa-linkedin" target="_blank"></i></a>
                  </div>

                </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form" >
             
              
              <h4>Send us a message</h4>
              <p>Feel free to send us a message.</p>
              <form method="POST">
                {% csrf_token %}
                
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                 
                
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                
                
                  <input type="tel" class="form-control" name="phone" id="phone" placeholder="Phone Number" required>
                 
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                 
                 <textarea  class="form-control" name="message" rows="5"  placeholder="Please write something for us" required></textarea>
                  <button class="sendbutton" type="submit">Send Message</button> 

              </form>
            </div>
          </div>        

        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <a href="{% url 'website:index' %}"><strong style="font-family: Audiowide; color: rgb(80, 2, 110);">Virtual Corp.</strong></a> All Rights Reserved
      </div>
      <div class="credits">
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{% static '/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/lib/jquery/jquery-migrate.min.js'%}"></script>
  <script src="{% static '/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/lib/easing/easing.min.js' %}"></script>
  <script src="{% static '/lib/mobile-nav/mobile-nav.js' %}"></script>
  <script src="{% static '/lib/wow/wow.min.js' %}"></script>
  <script src="{% static '/lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static '/lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static '/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static '/lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/lib/lightbox/js/lightbox.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static '/contactform/contactform.js'%}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static '/js/main.js'%}"></script>

</body>
</html>